+++
title = "ESA Restlight"
linkTitle = "ESA Restlight"

+++

{{< blocks/cover title="Welcome to ESA Restlight!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/getting_started" >}}">
		Getting Started <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">A lightweight and rest-oriented web framework.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
ESA Restlight is a lightweight and rest-oriented web framework, which supports annotations of SpringMVC and JAX-RS.
{{% /blocks/lead %}}

{{< blocks/section color="white">}}

{{% blocks/feature icon="fa-solid fa-lightbulb" title="Follows multiple standards" %}}
`JAX-RS3.0` and `SpringMVC` are all supported

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-rocket" title="High Performance"%}}
Approximate **13W per second** in simple scene
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-code" title="Reactive Programing"%}}
Fluent interface based on `CompletionStage` and `ListenableFuture(Guava)`
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-server" title="Threading-model"%}}
Flexible scheduling between IO EventLoopGroup and Biz Schedulers.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-smile" title="Self Protection" %}}
Connection creation limit, Fail Fast, Cpu Load protection...
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-cubes" title="Rich Features" %}}
Filter, RouteFilter, Interceptor, ParamResolver, ParamResolverAdvice, ResponseEntityResolver, ResponseEntityResolverAdvice...
{{% /blocks/feature %}}


{{< /blocks/section >}}



